on: [pull_request]

name: Continuous integration

jobs:

  fmt:
     name: Rustfmt
     runs-on: ubuntu-18.04
     steps:
       - uses: actions/checkout@v2
       - uses: actions-rs/toolchain@v1
         with:
           profile: minimal
           toolchain: stable
           override: true
       - run: rustup component add rustfmt
       - uses: actions-rs/cargo@v1
         with:
           command: fmt
           args: --all -- --check

  build_windows:
      name: etradeTaxReturnHelper windows artifacts publish
      runs-on: windows-2019
      strategy:
        matrix:
          toolchain:
            - stable
      steps:
        - uses: actions/checkout@v3
        - run:  rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
        - name: Build
          run:  mkdir etradeTaxReturnHelper && cargo build --release && xcopy target/release/etradeTaxReturnHelper etradeTaxReturnHelper /E /C /H /R /K /O /Y
        - name: Archiving
          uses: actions/upload-artifact@v2
          with: 
            name: assets-for-download
            path: etradeTaxReturnHelper

  build_and_test:
      name: etradeTaxReturnHelper building
      runs-on: ubuntu-latest
      steps:
        - name: Install system dependencies
          run: |
            sudo apt-get update
        - uses: actions/checkout@v2
        - uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
        - name: Cargo build
          env:
            LIBRARY_PATH: ./
          run: |
            cargo build --release
        - name: Cargo test
          env:
            LIBRARY_PATH: ./
          run: |
            cargo test

